{{#if account}}
<main id="addAccount">
    <div>
        <div class='form-row'>
            <div class="col-12">
                <h1>Add Account</h1>
            </div>
            <div class="col-12">
                <p>Enter your account information then click "Add Account"</p>
                <p>Hover over any red icons to see the error message</p>
            </div>
        </div>
        <form>
            <div class="form-row">
                <div class="col-lg">
                    <label for="validationDefault01">Name</label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="Name" value="" required>
                </div>

            </div>
            <div class="form-row">
                <div class="col-md">
                    <label for="validationDefaultAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Address" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault03">City</label>
                    <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationDefault04">State</label>
                    <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationDefault05">Zip</label>
                    <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Add Account</button>
        </form>
    </div>
</main>
{{/if}}