<main id="viewDelete">

    <div class="updateAccount">
        <div class='form-row'>
            <div class="col-12">
                <h1>Add Account</h1>
            </div>
            <div class="col-12">
                <p>Enter your account information then click "Add Account"</p>
                <p>Hover over any red icons to see the error message</p>
            </div>
        </div>
        <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Select account
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Account 1</a>
            <a class="dropdown-item" href="#">Account 2</a>
            <a class="dropdown-item" href="#">Account 3</a>
        </div>
        <table class="table border">
            <thead class='thead-light'>

                <th class="col-9">Name</th>
                <th class="col-3">Delete</th>

            </thead>
            <tbody>

                <th class='col-9'>fakeasset1</th>

                <td class='col-3'>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>


            </tbody>
        </table>

    </div>
</main>