{{!-- {{#if addJob}} --}}
<main id="addJob">
    {{!--
    <div class='form-row'> --}} {{!--
        <div class="col-12"> --}}
            <h1>Add Jobs</h1>
            {{!-- </div> --}} {{!--
        <div class="col-12"> --}}
            <p>Select the account you want to add a job to</p>
            <p>Hover over any red icons to see the error message</p>
            {{!-- </div> --}} {{!-- </div> --}}
    <div class='row'>
        <div class="col-md-6">
            {{{accountselect}}}
        </div>
    </div>
    <!--<button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Select account
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Account 1</a>
        <a class="dropdown-item" href="#">Account 2</a>
        <a class="dropdown-item" href="#">Account 3</a>
    </div>
    <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Select Job
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Fakejob 1</a>
        <a class="dropdown-item" href="#">Fakejob 2</a>
        <a class="dropdown-item" href="#">Fakejob 3</a>
    </div>
    <form>
        <div class="form-row">
            <div class="col-md mb-3 col-lg">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" value="Name">
            </div>

        </div>
        <div class="form-row">
            <div class="col-md mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md mb-3">
                <label for="validationDefault03">City</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
            </div>
            <div class="col-md mb-3">
                <label for="validationDefault04">State</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
            </div>
            <div class="col-md mb-3">
                <label for="validationDefault05">Zip</label>
                <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
            </div>
        </div>-

        <button class="btn btn-primary" type="button" id="validateinfoBtn" data-action="add">Add Job</button>
    </form>-->




</main>
{{!-- {{/if}} --}}