<main id="viewUpdateDeleteJobHours">
    {{!--
    <div class='form-row'> --}} {{!--
        <div class="col-12"> --}}
            <h2>Update & Delete Job Hours</h2>
            {{!-- </div> --}} {{!--
        <div class="col-12"> --}}
            <p>Select the account and job you want to update or delete hours for</p>
            <p>Hover over any red icons to see the error message</p>
            {{!-- </div> --}} {{!-- </div> --}}
    <div class='row'>
        <div class="col-md-6">
            {{{accountselect}}}
        </div>
    </div>


    <div id='result' class="viewJobHours mb-3 row">



    </div>

    <div id="hoursTable" class="mb-3">


    </div>



</main>

<!--{{#if updateDeleteJobHours}}
<main id="updateDeleteJobHours">
    <div class='form-row'>
        <div class="col-12">
            <h1>Update Delete job Hours</h1>
        </div>
        <div class="col-12">
            <p>Select the account and job to update the hours</p>
            <p>Hover over any red icons to see the error message</p>
        </div>
    </div>
    <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Select account
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Account 1</a>
        <a class="dropdown-item" href="#">Account 2</a>
        <a class="dropdown-item" href="#">Account 3</a>
    </div>
    <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Select Job
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Fakejob 1</a>
        <a class="dropdown-item" href="#">Fakejob 2</a>
        <a class="dropdown-item" href="#">Fakejob 3</a>
    </div>
    <form>
        <table class="table border  table-hover table-responsive-sm">
            <thead class='thead-light'>
                <tr>
                    <th class="border">Name</th>
                    <th class="border">Work Phone</th>
                    <th class="border">Mobile Phone</th>
                    <th class="border">Email</th>
                    <th>Update</th>
                    <th class="border">Delete</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td class=' border'>Contact 1</td>

                    <td class=" border">999-999-9999</td>
                    <td class=" border">999-999-9999</td>
                    <td class=" border">contact@test.com</td>
                    <td class="border">
                        <button type="button" class="btn btn-primary">Update</button>
                    </td>
                    <td class="border">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>

                </tr>
                <tr>
                    <td class=' border'>Contact 1</td>

                    <td class=" border">999-999-9999</td>
                    <td class=" border">999-999-9999</td>
                    <td class=" border">contact@test.com</td>
                    <td class="border">
                        <button type="button" class="btn btn-primary">Update</button>
                    </td>
                    <td class="border">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>

                </tr>
                <tr>
                    <td class=' border'>Contact 1</td>

                    <td class=" border">999-999-9999</td>
                    <td class=" border">999-999-9999</td>
                    <td class=" border">contact@test.com</td>
                    <td class="border">
                        <button type="button" class="btn btn-primary">Update</button>
                    </td>
                    <td class="border">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>

                </tr>
            </tbody>
        </table>



</main>
{{/if}}-->