<main id="addUpdateJobNote">
    {{!--
    <div class='form-row'> --}} {{!--
        <div class="col-12"> --}}
            <h2>Update or Delete Job Note</h2>
            {{!-- </div> --}} {{!--
        <div class="col-12"> --}}
            <p>Select the account then the job note you want to update or delete.</p>
            <p>Hover over any red icons to see the error message.</p>
            {{!-- </div> --}} {{!-- </div> --}}
    <div class='row'>
        <div class="col-md-6">
            {{{accountselect}}}
        </div>
    </div>

    <div id='result' class="addJobNote mb-3 row">


    </div>
    <div id="jobNoteTable" class="jobnotemodal">
        <!-- <div class="row">
    
                <div class="col-md-6 mb-3">
                    <label for="dateFormat">Date</label>
                    <input type="date" class="form-control" id="dateFormat" placeholder="Date">
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="name">Note Title</label>
                    <input type="text" class="form-control" id="name" placeholder="Fake Job Note">
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6 mb-3 ">
                    <label for="text">Note Text</label>
                    <textarea type="textarea" rows="10" class="form-control" id="text" placeholder="Fake job note text here"></textarea>
                </div>
            </div>
    
            <div class="row">
                <button class="btn btn-primary" type="button" id="addJobNoteButton" data-action="add">Add Job</button>
    
            </div>-->
    </div>




</main>


<!--{{#if addJobNote}}
<main id="addJobNote ">
    <div class='form-row'>
        <div class="col-12 ">
            <h1>Add Job Note</h1>
        </div>
        <div class="col-12 ">
            <p>Select the account you want to add a job to</p>
            <p>Hover over any red icons to see the error message</p>
        </div>
    </div>
    <button class="btn btn-secondary dropdown-toggle mb-4 " type="button " id="dropdownMenuButton " data-toggle="dropdown
        " aria-haspopup="true "
        aria-expanded="false ">
        Select account
    </button>
    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton ">
        <a class="dropdown-item " href="# ">Account 1</a>
        <a class="dropdown-item " href="# ">Account 2</a>
        <a class="dropdown-item " href="# ">Account 3</a>
    </div>
    <form>
        <div class="form-row ">
            <div class="col-md mb-3 col-lg ">
                <label for="name ">Name</label>
                <input type="text " class="form-control " id="name " placeholder="Name " value="Name ">
            </div>

        </div>
        <div class="form-row ">
            <div class="col-md mb-3 ">
                <label for="dateFormat ">Date</label>
                <input type="date " class="form-control " id="dateFormat " placeholder=" ">
            </div>
        </div>

        <div class="form-row ">
            <div class="col-md mb-3 ">
                <label for="text ">Note Title</label>
                <input type="text " class="form-control " id="text " placeholder="Fake Job Note " required>
            </div>
        </div>

        <div class="form-row ">
            <div class="col-md mb-3 ">
                <label for="alphaNum ">Note Text</label>
                <textarea type="textarea " rows="10 " class="form-control " id="alphaNum " placeholder="Fake job note text
        here " required></textarea>
            </div>

        </div>

        <button class="btn btn-primary " type="button " id="validateinfoBtn " data-action="add ">Add Job Note</button>
    </form>




</main>
{{/if}}-->


<!--{{#if viewUpdateDeleteJobNote}}
<main id="viewUpdateDeleteJobNote">
    <div class='form-row'>
        <div class="col-12">
            <h1>View Update Delete Job Notes</h1>
        </div>
        <div class="col-12">
            <p>Select the account and job to see all the notes you can view, update or delete.</p>
            <p>Hover over any red icons to see the error message</p>
        </div>
    </div>
    <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Select account
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Account 1</a>
        <a class="dropdown-item" href="#">Account 2</a>
        <a class="dropdown-item" href="#">Account 3</a>
    </div>
    <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Select Job
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Fakejob 1</a>
        <a class="dropdown-item" href="#">Fakejob 2</a>
        <a class="dropdown-item" href="#">Fakejob 3</a>
    </div>
    <form>
        <table class="table border table-hover table-responsive-sm">
            <thead class='thead-light'>
                <tr>
                    <th class="border">Date</th>
                    <th class="border">Note Name</th>
                    <th class="border">Note</th>
                    <th class="border">Update</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td class=' border'>01/01/1999</td>

                    <td class=" border">Fake Note job</td>
                    <td class=" border">Needs more JPEG</td>

                    <td class="border">
                        <button type="button" class="btn btn-danger">Update</button>
                    </td>

                </tr>
            </tbody>
        </table>



    </form>



</main>
{{/if}}