<main id="viewJobAsset">
    {{!--
    <div class='form-row'> --}} {{!--
        <div class="col-12"> --}}
            <h2>View Job Asset</h2>
            {{!-- </div> --}} {{!--
        <div class="col-12"> --}}
            <p>Select the account and job you want to view assets for</p>
            <p>Hover over any red icons to see the error message</p>
            {{!-- </div> --}} {{!-- </div> --}}
    <div class='row'>
        <div class="col-md-6">
            {{{accountselect}}}
        </div>
    </div>


    <div id='result' class="viewJobAsset mb-3 row">



    </div>

    <div id="assetTable" class="mb-3">


    </div>



</main>


<!--{{#if viewDeleteJobAsset}}
<main id="viewDeleteJobAsset">
    <div class='form-row'>
        <div class="col-12">
            <h1>View Delete Job Asset</h1>
        </div>
        <div class="col-12">
            <p>Select the account to view or delete the jobs assetas</p>
            <p>Hover over any red icons to see the error message</p>
        </div>
    </div>
    <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Select account
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Account 1</a>
        <a class="dropdown-item" href="#">Account 2</a>
        <a class="dropdown-item" href="#">Account 3</a>
    </div>
    <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Select Job
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Fakejob 1</a>
        <a class="dropdown-item" href="#">Fakejob 2</a>
        <a class="dropdown-item" href="#">Fakejob 3</a>
    </div>
    <form>
        <table class="table border  table-hover table-responsive-sm">
            <thead class='thead-light'>

                <th class="col-9 border">Name</th>
                <th class="col-3 border">Delete</th>

            </thead>
            <tbody>

                <th class='col-9 border'>fakeasset1</th>

                <td class='col-3 border'>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>


            </tbody>
        </table>
    </form>




</main>
{{/if}}-->