{{!-- {{#if account}} --}}
<main <!--id="addAccount" -->
    <!--<p id="msg" style="color: green;"></p>-->

    <div class='form-row'>
        <div class="col-12">
            <h1>Add Account</h1>
        </div>
        <div class="col-12">
            <p>Enter your account information then click "Add Account"</p>
            <p>Hover over any red icons to see the error message</p>
        </div>
    </div>

    <!--<h2>Test Form</h2>
            <p id="msg" style="color: green;"></p>-->
    <div id="jobNoteForm">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" value="Name" placeholder="Name">
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="City">
            </div>
            <div class="col-md-2 mb-3">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" placeholder="State">
            </div>
            <div class="col-md-1 mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="Zip">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="button" class="btn btn-primary" id="addUpdateAccount" data-action="add" value="Add Account">
            </div>
        </div>
    </div>


</main>
{{!-- {{/if}} --}}