<!--{{#if updateAccount}}
<main id="updateAccount">
    <div class='form-row'>
        <div class="col-12">
            <h1>Update Account</h1>
        </div>
        <div class="col-12">
            <p>Enter your account information then click "Add Account"</p>
            <p>Hover over any red icons to see the error message</p>
        </div>
    </div>
    <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Select account
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Account 1</a>
        <a class="dropdown-item" href="#">Account 2</a>
        <a class="dropdown-item" href="#">Account 3</a>
    </div>
    <form>
        <div class="form-row">
            <div class="col-md mb-3 col-lg">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" value="Name" placeholder="Name">
            </div>

        </div>
        <div class="form-row">
            <div class="col-md mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md mb-3">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="City">
            </div>
            <div class="col-md mb-3">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" placeholder="State">
            </div>
            <div class="col-md mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="Zip">
            </div>
        </div>

        <button class="btn btn-primary" type="button" id="validateinfoBtn" data-action="add">Add Account</button>
    </form>




</main>
{{/if}}-->

<main id="updateAccount">
    <h2>Update Account</h2>
    <p>Select the account you want to update.</p>
    <p>If any red icons appear hover over the icon to see the error message.</p>
    <div class="row">
        <div class="col-md-6">
            {{{accountselect}}}
        </div>
    </div>
    <div id="result"></div>
</main>